.footer {
  background-color: var(--color-gray);

  &__copyright {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding-block: 100px;

    &-date,
    &-text {
      font-family: 'Abel', 'Open Sans', sans-serif;
      color: var(--color-dark);
    }
  }
}
