.nutrition {
  padding-top: 39px;
  padding-bottom: 8px;

  &__title {
    margin-bottom: 26px;

    color: var(--color-dark);
    font-size: 36px;
    font-weight: 800;
    line-height: 1.42;

    @include desktop-small {
      font-size: 31px;
    }
  }

  &__desc {
    margin-bottom: 100px;

    font-family: 'Open Sans', sans-serif;
    color: var(--color-dark);
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.04em;

    @include desktop-small {
      font-size: 18px;
    }
  }

  &__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 20px;

    @include desktop {
      grid-template-columns: repeat(2, 1fr);
    }

    @include tablet {
      grid-template-columns: 1fr;
    }
  }
}
