.popup-form {
  max-width: 551px;
  padding: 36px;
  border-radius: 12px;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1);

  &__title {
    padding: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-light-alt);

    color: var(--color-black);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
  }

  &__field-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-light-alt);

    &:last-of-type {
      margin-bottom: 24px;
    }
  }

  &__label {
    padding: 10px;
    padding-block: 14px;

    font-size: 18px;
    line-height: 1.2;
    color: var(--color-dark);

    &-mandatory {
      color: var(--color-pink);
    }
  }

  &__input {
    width: 100%;
    max-width: 430px;
    padding: 10px;
    border: none;
  }

  &__textarea {
    width: 100%;
    min-height: 146px;
    padding: 10px;
    padding-block: 7px;
    margin-bottom: 16px;
    border: 1px solid var(--color-gray-light-blue);
    resize: none;

    &::placeholder {
      color: var(--color-dark);
      font-size: 18px;
      line-height: 1.2;
    }
  }

  &__warning {
    margin-bottom: 20px;

    color: var(--color-black);
    font-size: 18px;
    line-height: 1.2;
  }

  &__button {
    padding: 10px 34px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-dark);

    color: var(--color-white);
    font-size: 15px;
    line-height: 1.5;

    @include hover {
      opacity: 0.7;
    }
  }
}
