.quote {
  align-self: flex-end;
  max-width: 358px;
  margin-right: 110px;

  text-align: right;

  @include desktop-small {
    align-self: flex-start;
    margin-right: 0;

    font-size: 15px;
    text-align: left;
  }

  &__text {
    color: var(--color-dark-blue);
  }

  &__author {
    color: var(--color-dark);
    font-style: normal;
  }
}
