:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-dark: #0c111d;
  --color-dark-blue: #364052;
  --color-light: #f2f2f2;
  --color-gray: #d1d5dc;
  --color-gray-alt: #a1a1a1;
  --color-pink: #e36592;

  --font-family-base: 'Open Sans', sans-serif;

  --container-width: 1056px;
  --container-width-narrow: 1016px;
  --container-padding-x: 20px;

  --transition-duration: 0.2s;
}
