:root {
  --color-dark-blue: #364052;
  --color-light: #ffffff;

  --font-family-base: 'Abel', sans-serif;

  --container-width: 1056px;
  --container-padding-x: 20px;

  --transition-duration: 0.2s;
}
